@import '~bootstrap/scss/bootstrap';

$emerald: #58a9a7;
$white-emerald: #f0fafb;

body {
    background-color: $white-emerald
}

.header {
    background-image: url(../Assets/header.jpg);
    background-size: cover;
    background-position: center;
}

.offset-up {
    margin-top: -2rem;
}

.bg-white {
    background-color: #ffffff;
}

.bg-emerald {
    background-color: $emerald !important;
}

.text-emerald {
    color: $emerald !important;
}

.emerald-btn {
    background-color: $white-emerald ;
    border-color: $white-emerald;
    color: $emerald;

    &:hover {
        @extend .emerald-btn-inverted;
    }

    &:disabled {
        @extend .emerald-btn;
        opacity: 1 !important;
    }
}

.emerald-btn-inverted {
    background-color: $emerald ;
    border-color: $emerald;
    color: $white-emerald;

    &:hover {
        @extend .emerald-btn;
    }

    &:disabled {
        @extend .emerald-btn-inverted;
        opacity: 1 !important;
    }
}

.enable-cursor {
    cursor: pointer !important;
}